[submodule "src/Sony Bravia Network Remote.indigoPlugin/Contents/Server Plugin/RPFramework"]
	path = src/Sony Bravia Network Remote.indigoPlugin/Contents/Server Plugin/RPFramework
	url = https://github.com/RogueProeliator/indigo-plugins-rpframework-src
